html/
src/build/*
src/equilibrium.obj
src/gmacs.cpp
src/gmacs.exe
src/gmacs.htp
src/gmacs.obj
src/moltIncrement.cpp
src/multinomial.obj
src/nloglike.obj
src/robust_multi.obj
src/spr.obj
src/tailcompression.obj
.Rproj.user
